.bundle
db/*.sqlite3
log/*.log
tmp/*
.sass-cache/
config/database.yml
.idea/
public/system/*
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
public/ckeditor_assets/*
.DS_Store
.rvmrc
local/*
config/backup/*
.powrc
