development:
  adapter: postgresql
  username: user
  database: confer_development
  pool: 10
  timeout: 5000
  encoding: utf8
  host: localhost
  min_messages: WARNING

test:
  adapter: postgresql
  username: user
  database: confer_test
  pool: 5
  timeout: 5000
  encoding: utf8
  host: localhost
  min_messages: WARNING
